body {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 10pt;
	color: #42444f;
	background-color: #eaf7f6;
}

div#main {
	margin-left: auto;
	margin-right: auto;
	width: 600px;
}

div#navtop{
	margin-bottom: -30pt;
	border-radius: 5px 5px 0px 0px;
	background-color: #5cbfc2;
	color: white;
	box-shadow: 0 0 0 1px black, 0 0 0 2px #CCC;
	width: 100px;
	margin-left: auto;
	margin-right: 10px;
	text-align: center;
	padding-bottom: 2px;
}

div#title {
	margin-top: 30pt;
	margin-bottom: 30pt;
}

div#content {
	margin-top: 10pt;
	margin-bottom: 10pt;
	margin-left: auto;
	margin-right: auto;
	width: 500px;
}

#title h1 {
	font-size: 24pt;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-transform: uppercase;
	font-style: normal;
	color: white;
}

h2 {
	font-size: 18pt;
	text-transform: uppercase;
	font-style: normal;
	color: #14215e;
	text-shadow: 1px 1px #71b8e3;
}


span#artist-year{
	font-size: 12pt;
	color: #71b8e3;
	font-style: italic;
	text-transform: uppercase;
}

div#title {
	color: #3883b1;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 8pt;
	line-height: 1;
	border: 0px gray solid;
	border-radius: 10px;
	text-align: center;
	width: 100%;
	background: rgb(171,187,219);
	background: linear-gradient(180deg, rgba(171,187,219,1) 0%, rgba(71,108,183,1) 20%, rgba(25,49,132,1) 50%, rgba(20,33,94,1) 80%, rgba(0,0,0,1) 100%);
	box-shadow: 0 0 0 1px black, 0 0 0 2px #CCC;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 4px;
	padding-right: 4px;
}

.noplp-box {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 24pt;
	text-transform: uppercase;
	border: 0px gray solid;
	border-radius: 10px;
	text-align: center;
	width: 90%;
	text-shadow: 1px 1px black;
	box-shadow: 0 0 0 1px black, 0 0 0 2px #CCC;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 4px;
	padding-right: 4px;
	margin-left: auto;
	margin-right: auto;
}

span.round {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 16pt;
	text-transform: uppercase;
	border: 0px gray solid;
	border-radius: 10px;
	text-align: center;
	width: 90%;
	padding: 4px 4px 4px 4px;
	margin-left: auto;
	margin-right: auto;
	background: rgb(119, 119, 119);
	color: rgb(255, 255, 255);
	height: 24px;
	vertical-align: middle;
}

.hidden {
	display: none;
}

p {
	margin-top: 20px;
	margin-bottom: 15px;
}

p.lyric, span.mots, input, span.inputPreview, span.bloque {
	background: rgb(171,187,219);
	background: linear-gradient(180deg, rgba(171,187,219,1) 0%, rgba(71,108,183,1) 20%, rgba(25,49,132,1) 50%, rgba(20,33,94,1) 80%, rgba(0,0,0,1) 100%);
	color: white;
	opacity: 1
}

span.inputPreview, input {
	color: #ffda00!important;
	margin-bottom:15px;
}

.next-round {
	margin-top: 10px;
	display: inline-block;
	width: 400px;
	background: rgb(78, 0, 114);
	text-shadow: 0 0;
	box-shadow: 0 0 0 0;
	border: 0;
}

/* .initiales {
	background: rgb(255, 166, 0)!important;
} */

/* .button-below {
	border-radius: 50%;
	width: 70px;
	height: 50px;
	font-size: 16px;
	vertical-align: middle;
} */

/* .button-below {
	border-radius: 10px;
	width: 100px;
	font-size: 24px;
	vertical-align: middle;
} */

/* .reveal {
	background: rgb(0, 78, 17)!important;
} */

.next-round {
	background: rgb(78, 0, 114)!important;
}

span.mots {
	margin-top: 10px;
	display: inline-block;
	width: 150px;
}

.top-pane {
	margin-top: 0;
}

span.round {
	margin-left: 10px;
	width: 125px;
	display: none;
}

span.round-active {
	display: inline-block;
	opacity: 1;
}

span.round-inactive {
	display: inline-block;
	opacity: 0.2;
}

span.spacer {
	display: inline-block;
	width: 1%;
}

input {
	width: 90%;
}

button {
	cursor:pointer;
	width:100px;
}

.bottom-bloque, .bottom-next-round, .bottom-avance {
	display: none;
}

.continue, .reveal {
	display: none;
}

#dummy, #bloq {
	display: flex;
	width: 90%;
	margin-top: 10px;
}

.button-below {
	font-family: 'Roboto Condensed', sans-serif;
	border-radius: 25px;
	height: 60px;
	font-size: 24px;
	vertical-align: middle;
	border: 0;
	box-shadow: none;
}

.js-play {
	margin-left: 2px;
	margin-right: 2px;
	flex: 1 1 auto;
	background: rgb(206, 60, 193)!important;
	color: white;
	text-transform: uppercase;
	width: 90%;
}

.small-button {
	width: 70px;
	margin-left: 5px;
	margin-right: 5px;
	background: rgb(152, 92, 248);
	color: white;
}

.med-button {
	margin-left: 5px;
	margin-right: 5px;
	flex: 1 1 auto;
	background: rgb(48, 180, 192)!important;
	color: white;
}

.big-button {
	margin-left: 2px;
	margin-right: 2px;
	flex: 1 1 auto;
	background: rgb(206, 60, 193)!important;
	color: white;
}

.share-button {
	margin-top: 10px;
	padding-left: 0;
	padding-right: 0;
	width: 90%;
}

@media only screen and (max-width: 480px) {

  .noplp-box {
	width: 90%;
  }

  div#main {
	margin-left: auto;
	margin-right: auto;
	width: 85%;
  }

  .js-player {
	  aspect-ratio: 4/3;
	  width:100%;
  }

  span.round-active {
	display: inline-block;
	opacity: 1;
  }

  span.round-inactive {
	width: 20px;
	font-size: 0;
  }

}


.y {
	 color: #ffda00!important;
}

.r {
	 color: #ee0000!important;
}

.g {
	 color: #08ff00!important;
}

.r-bg {
	background-color: #ee0000!important;
}

.y-bg {
	background-color: #ffda00!important;
}

.g-bg {
	background-color: #08ff00!important;
}

/* 
#container{
	position: relative;
	width: 1000px;
	height: 1000px;
}

#main-div, #info-div {
	position: absolute;
	background-color: red;
}

#info-div {
	background-color: black;
	top:10%;
    left:10%;
	width: 640px;
	height: 480px;
    transform:translate(-50%, -50%);
	opacity: 0.5;
	z-index: 10;
} */

.bottom-end-game {
	width: 90%;
	text-align:left;
	background-color:rgb(55, 0, 100);
	border-radius:20px;
	color:white;
	padding-left:20px;
	padding-right:20px;
	padding-bottom:10px;
	padding-top:10px;
	margin-bottom:20px;
	font-size:16px;
	text-transform:uppercase;
	font-family: 'Roboto Condensed', sans-serif;
}

.top-pane {
	margin-top: 10px;
}